*.py[cod]
__pycache__/

# dev databases
data-dev.sqlite

# C extensions
*.so

# Packages
*.egg
*.egg-info/
build/
dist/
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Pycharm/IntelliJ
.idea/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache/
.coverage
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env/
.venv/
venv/

# npm
/node_modules/

# webpack-built files
/prenotime/static/build/
/prenotime/webpack/manifest.json

# Configuration
.env
.dotenv

# Development database
*.db

# flask
instance/

