[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
gunicorn = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.7"
